<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <ComponentGroup Id="ConfigComponents" Directory="CONFIGFOLDER">
      <Component Id="f4a7314c3d2c4fb4b71ffc3f5a3d1f8d" Guid="*">
         <File Source="web_player/readme.txt" />
      </Component>
    </ComponentGroup>

      <ComponentGroup Id="MainApplicationComponents" Directory="INSTALLFOLDER">

      <Component Id="MainApplicationchildComponents" Guid="DF8B23B810454113A66CCE9567347FCD">
        <File Source="nssm.exe" />
        <File Source="run_service.bat" />
        <File Source="remove_service.bat" />
        <File Source="web_player/i2v_player.min.js" />
        <File Source="web_player/moment.min.js" />
        <File Source="web_player/index.html" />
      </Component>

      <Component Id="cmpC6B2FD4081FBBD949069F3ADA8A834AD" Guid="*">
        <File Id="fil454F1792F5591DA0839206ADC2D661CD" KeyPath="yes" Source="$(var.HarvestPath)\i2v_webPlayer.exe" />
      </Component>
      
     
    </ComponentGroup>
	</Fragment>
</Wix>
