<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="i2v_player" Language="1033" Version="2.5" Manufacturer="i2v" UpgradeCode="56e8ff32-9406-4f0a-bfe5-bc1ead2f4351">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate  EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="Software_licence_agreement.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="MyWixUI_InstallDir"/>


    <Feature Id="ProductFeature" Title="i2v_player" Level="1">
      <ComponentGroupRef Id="MainApplicationComponents" />
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ConfigComponents" />
      <ComponentGroupRef Id="SystemFolderComponentss" />
      
    </Feature>
    
    <CustomAction Id="RUN"
      ExeCommand="cmd.exe /c &quot;run_service.bat"
      Directory="INSTALLFOLDER"  Impersonate="no" Execute="deferred" Return="ignore" />

    <CustomAction Id="uninstallBatFile" 
     ExeCommand="cmd.exe /c &quot;remove_service.bat"
     Directory="INSTALLFOLDER"  Impersonate="no" Execute="deferred" Return="ignore" />
    
    <InstallExecuteSequence>
      <Custom Action="RUN" Before="InstallFinalize">NOT Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>

    <InstallExecuteSequence>
      <Custom Action="uninstallBatFile" Before="RemoveFiles">Installed AND NOT UPGRADINGPRODUCTCODE </Custom>
    </InstallExecuteSequence>
    
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="i2v_player" >
          <Directory Id="CONFIGFOLDER" Name="config">
          </Directory>
          <Directory Id="SystemFolder" Name="SystemFolder" />

        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
